.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #393E46;
}

h1 {
    margin: 30px auto 30px auto;
    font-family: 'Lobster Two', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: aqua;
}

img {
    width: 80%;
}

p {
    font-size: 2rem;
    color: aqua;
    font-family: 'Indie Flower', cursive;
}

@media (max-width:563px) {

    h1 {
        margin: 30px auto 30px auto;
        font-family: 'Lobster Two', cursive;
        text-shadow: 5px 0 #232931;
        font-size: 5rem;
        color: aqua;
    }

    img {
        width: 60%;
    }
}

@media (max-width:300px) {
    
    h1 {
        margin: 30px auto 30px auto;
        font-family: 'Lobster Two', cursive;
        text-shadow: 5px 0 #232931;
        font-size: 2.5rem;
        color: aqua;
    }

    p {
        font-size: 1rem;
        color: aqua;
        font-family: 'Indie Flower', cursive;
    }

    img {
        width: 40%;
    }

    h3 {
        display: block;
        font-size: .75em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}